<section id="slider" class="slider-element min-vh-100 dark">
  <div class="slider-inner" style="background-image: url('assets/teamtrees.png');background-position: 50% 0;">
  </div>
</section>

<section id="content">
  <div class="content-wrap">
    <div class="container clearfix">
      <h3 class="center">Donate Now to Protect Nature</h3>
      <div class="card border-0 shadow-lg rounded-lg" style="background-color: #062639;">
        <div class="card-body dark" style="padding: 60px">
          <div class="form-widget" data-alert-type="inline">
            <div class="form-result"></div>

            <form id="booking-registration" class="row mb-0" action="" method="post" enctype="multipart/form-data">
              <div class="form-process"></div>

              <div class="col-12 bottommargin">
                <div id="tab-reservation" class="list-group list-group-horizontal d-flex justify-content-center" role="tablist">
                  <a class="list-group-item list-group-item-action w-auto mx-0 mx-sm-3 active" data-toggle="list" href="#tab-reservation-select-room" role="tab">1. Donation Amount</a>
                  <a class="list-group-item list-group-item-action w-auto mx-0 mx-sm-3" data-toggle="list" href="#tab-reservation-contact" role="tab">2. Personal Information</a>
                  <a class="list-group-item list-group-item-action w-auto mx-0 mx-sm-3" data-toggle="list" href="#tab-reservation-payment" role="tab">3. Make Donation</a>
                </div>
              </div>

              <div class="col-lg-9 mt-4 mt-lg-0">
                <div class="tab-content" id="nav-tabContent">

                  <div class="tab-pane fade show active" id="tab-reservation-select-room" role="tabpanel" aria-labelledby="tab-reservation-select-room">
                    <div class="row">
                      <div class="col-12">
                        <div class="list-group btn-group-vertical btn-group-toggle mb-3" data-toggle="buttons">
                          <label class="btn list-group-item active d-flex justify-content-between align-items-center lh-condensed">
                            <h4 class="mb-0 fcolor">$10</h4>
                          </label>
                          <label class="btn list-group-item d-flex justify-content-between align-items-center lh-condensed">
                            <h4 class="mb-0 fcolor">$20</h4>
                          </label>
                          <label class="btn list-group-item d-flex justify-content-between align-items-center lh-condensed">
                            <h4 class="mb-0 fcolor">$50</h4>
                          </label>
                          <label class="btn list-group-item d-flex justify-content-between align-items-center lh-condensed">
                            <h4 class="mb-0 fcolor">$100</h4>
                          </label>
                          <label class="btn list-group-item d-flex justify-content-between align-items-center lh-condensed">
                            <h4 class="mb-0 fcolor">$200</h4>
                          </label>
                          <label class="btn list-group-item d-flex justify-content-between align-items-center lh-condensed">
                            <h4 class="mb-0 fcolor">$500</h4>
                          </label>
                          <label class="btn list-group-item d-flex justify-content-between align-items-center lh-condensed">
                            <h4 class="mb-0 fcolor">$1000</h4>
                          </label>
                          <label class="btn list-group-item d-flex justify-content-between align-items-center lh-condensed">
                            <h4 class="mb-0 fcolor">Other</h4>
                          </label>
                        </div>
                      </div>
                      <div class="col-12">
                        <a href="#" class="button button-rounded button-light bg-white tab-action-btn-next text-dark float-right">Select Amount</a>
                      </div>
                    </div>
                  </div>

                  <div class="tab-pane fade" id="tab-reservation-contact" role="tabpanel" aria-labelledby="tab-reservation-contact">
                    <div class="row">
                      <div class="col-6 mb-4">
                        <label>First Name:</label>
                        <input type="text" name="booking-registration-first-name" id="booking-registration-first-name" class="sm-form-control border-form-control required" value="" placeholder="Enter Your First Name">
                      </div>
                      <div class="col-6 mb-4">
                        <label>Last Name:</label>
                        <input type="text" name="booking-registration-last-name" id="booking-registration-last-name" class="sm-form-control border-form-control required" value="" placeholder="Enter Your Last Name">
                      </div>
                      <div class="col-12 mb-4">
                        <label>Email Address:</label>
                        <input type="email" name="booking-registration-email" id="booking-registration-email" class="sm-form-control border-form-control required" value="" placeholder="Enter Your Email Address">
                      </div>
                      <div class="col-12 mb-4">
                        <label>Full  Address:</label>
                        <input type="text" name="booking-registration-address" id="checkout-form-shipping-street" class="form-control border-form-control required" value="" placeholder="Enter Your Full Address">
                      </div>
                      <div class="col-12 mb-4">
                        <label>Post Code:</label>
                        <input type="number" name="booking-registration-post-code" id="checkout-form-shipping-post-code" class="form-control border-form-control required" value="" placeholder="Enter Your Post Code">
                      </div>
                      <div class="col-12 mb-4">
                        <label>Phone:</label><br>
                        <input type="text" name="booking-registration-phone" id="checkout-form-shipping-phone" class="form-control border-form-control required" value="" placeholder="Enter Your Phone Number">
                      </div>
                      <div class="col-12">
                        <a href="#" class="button button-rounded button-light bg-white tab-action-btn-next text-dark float-right">Make Payments</a>
                      </div>
                    </div>
                  </div>

                  <div class="tab-pane fade" id="tab-reservation-payment" role="tabpanel" aria-labelledby="tab-reservation-payment">
                    <div class="row">
                      <div class="col-8 mb-4">
                        <label>Credit Card number:</label>
                        <input type="number" placeholder="xxxx xxxx xxxx xxxx" name="booking-registration-card-no" id="booking-registration-card-no" class="sm-form-control border-form-control" value="">
                      </div>
                      <div class="col-4 mb-4">
                        <label>CVV:</label>
                        <input type="password" name="booking-registration-card-cvv" maxlength="3" pattern="\d*" id="booking-registration-card-cvv" class="sm-form-control border-form-control" value="">
                      </div>
                      <div class="col-8 mb-4">
                        <label>Name on Credit Card:</label>
                        <input type="text" name="booking-registration-card-name" id="booking-registration-card-name" class="sm-form-control border-form-control required" value="">
                        <small class="text-muted">Full name as displayed on card</small>
                      </div>
                      <div class="col-4 mb-4">
                        <label>Expired On:</label>
                        <input type="text" value="" id="booking-registration-card-exp" class="sm-form-control required border-form-control text-left" name="booking-registration-card-exp" placeholder="MM/YYYY">
                      </div>

                      <div class="col-12 d-none">
                        <input type="text" id="booking-registration-botcheck" name="booking-registration-botcheck" value="" />
                      </div>
                      <div class="col-12">
                        <button type="submit" name="booking-registration-submit" class="button button-rounded button-light bg-white text-dark float-right">Book Now</button>
                      </div>

                      <input type="hidden" name="prefix" value="booking-registration-">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="list-group list-group-flush">
                  <div class="list-group-item">
                    <h5 class="mb-0">Duration: <span class="time-value font-weight-semibold fcolor ml-1">Choose Date</span></h5>
                  </div>
                  <div class="list-group-item">
                    <h5 class="mb-0">Rooms: <span class="rooms-value font-weight-semibold fcolor ml-1">1 Room</span></h5>
                  </div>
                  <div class="list-group-item">
                    <h5 class="mb-0">Persons: <span class="persons-value font-weight-semibold fcolor ml-1">1 Person</span></h5>
                  </div>
                  <div class="list-group-item">
                    <h5 class="mb-0">Room Type: <span class="room-type-value font-weight-semibold fcolor ml-1">Standard Room</span></h5>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
