<section id="slider" class="slider-element min-vh-100 include-header" style="background: url('assets/theme/hero.svg') no-repeat center bottom / cover;">
  <div class="slider-inner">

    <div class="vertical-middle">
      <div class="container py-5">
        <div class="row">
          <div class="col-lg-6 col-md-8">
            <div class="slider-title">
              <h1 class="font-weight-semibold">Best Crowd-Funding Website for your Startup.</h1>
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A earum quod facilis praesentium quaerat fuga voluptatum aliquam vitae, voluptate asperiores!</p>
            </div>
            <%= link_to "Start A Campaign", root_path, class: "button button-large font-weight-semibold button-rounded ls0 nott ml-0" %>
            <%= link_to "Sign In", sign_in_path, class: "button button-large font-weight-semibold button-border button-rounded ls0 nott" %>
            <%= link_to root_path do %>
              "How It Works" <i class="icon-caret-right1 position-relative" style="top: 2px"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <%= image_tag("theme/hero-img.svg", class: "slider-img parallax" ) %>

  </div>
</section><!-- #Slider End -->

<!-- Content
============================================= -->
<section id="content">
  <div class="content-wrap p-0">

    <div class="section bg-transparent mb-0 pb-0 border-0">
      <div class="container bg-color-light border-0 rounded-lg p-4 p-md-5">
        <div class="row justify-content-between align-items-center bottommargin-sm">
          <div class="col-lg-7 col-sm-7">
            <div class="heading-block border-bottom-0 mb-3">
              <h2>How People investing works</h2>
            </div>
            <p class="text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste reprehenderit fugiat quisquam nesciunt. Dicta quis, rem consequuntur est beatae qui.</p>
          </div>
          <div class="col-lg-3 col-sm-5 mt-4 mt-sm-0">
            <div class="bg-white center px-5 py-3 border">
              <div class="counter counter-large color font-weight-bold"><span data-from="0" data-to="86" data-refresh-interval="10" data-speed="1500"></span>%</div>
              <div class="line my-2"></div>
              <h5 class="font-weight-normal mb-1">Funded Campaign</h5>
            </div>
          </div>
        </div>
        <div class="clear"></div>
        <div class="row justify-content-around">
          <div class="col-lg-3 col-md-4 mt-5">
            <div class="feature-text">
              <div class="fbox-text color">1.</div>
              <h3>Register Your Account.</h3>
            </div>
            <p>Credibly maximize highly efficient data through alignments.</p>
          </div>
          <div class="col-lg-3 col-md-4 mt-5">
            <div class="feature-text">
              <div class="fbox-text color">2.</div>
              <h3>Choose your Investor.</h3>
            </div>
            <p>Professionally develop intermandated resources through.</p>
          </div>
          <div class="col-lg-3 col-md-4 mt-5">
            <div class="feature-text">
              <div class="fbox-text color">3.</div>
              <h3>Fund the Innovation.</h3>
            </div>
            <p>Highly efficient data through multifunctional alignments.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- #content end -->
<br>


